@if (loading || submitting) {
<app-loader [message]="loaderMessage"></app-loader>
} @if(!loading) {
<!-- Table starting -->
<p-table
  #dt
  [value]="modules"
  dataKey="_id"
  [paginator]="true"
  showGridlines
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25]"
  [globalFilterFields]="['name', 'status', 'isActive', 'createdBy.name', 'createdBy.role.name', 'createdAt']"
  filterDisplay="menu"
>
  <!-- Global Search -->
  <ng-template pTemplate="caption">
    <div class="flex-top-center gap-2">
      <h5 class="mb-0">Modules</h5>
      <input
        pInputText
        type="text"
        placeholder="Global search"
        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        class="ms-auto"
      />
      <button pButton size="small" [cModalToggle]="moduleModal.id">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>New</span>
      </button>
    </div>
  </ng-template>
  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <!-- Module Name -->
      <th style="width: 250px">
        <div class="flex-space">
          <h6>Name</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="name"
            display="menu"
          />
        </div>
      </th>
      <!-- Module Type -->
      <th style="width: 180px">
        <div class="flex-space">
          <div class="flex-top-center gap-1">
            <h6>Type</h6>
            <!-- <p-button [cModalToggle]="typeModuleModal.id" icon="pi pi-plus-circle" variant="text" /> -->
          </div>
          <p-columnFilter
            field="type.key"
            matchMode="equals"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [options]="moduleTypes"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
                optionValue="key"
              >
                <ng-template let-type #item>
                  <div class="flex items-center gap-2">
                    <span>{{ type.name }}</span>
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <!-- Created By -->
      <th style="width: 250px">
        <div class="flex-space">
          <h6>Created By</h6>
          <p-columnFilter
            field="createdBy.name"
            matchMode="equals"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [options]="moderators"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
                optionValue="name"
              >
                <ng-template let-moderator #item>
                  <div class="flex items-center gap-2">
                    <span>{{ moderator.name }}</span>
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <!-- Created On -->
      <th style="width: 250px">
        <div class="flex-space">
          <h6>Created On</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="date"
            field="createdAt"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <!-- Module Active Status -->
      <th style="width: 150px">
        <div class="flex-space">
          <h6>Status</h6>
          <p-columnFilter
            field="isActive"
            matchMode="equals"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [options]="statuses"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
                optionValue="value"
              >
                <ng-template let-status #item>
                  <div class="flex items-center gap-2">
                    <span>{{ status.name }}</span>
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <!-- Module Actions -->
      <th style="width: 250px">
        <h6>Actions</h6>
      </th>
    </tr>
  </ng-template>
  <!-- Body -->
  <ng-template pTemplate="body" let-module let-index="rowIndex">
    <tr>
      <td>{{ module.name }}</td>
      <td>{{ module.type?.name }}</td>
      <td>
        <div class="flex-top-center gap-2">
          <span>{{ module.createdBy?.name }}</span>
          @if (module.createdBy?.role) {
          <p-badge [value]="module.createdBy?.role.name" badgeSize="small" />
          }
        </div>
      </td>
      <td>
        <span>{{ module.createdAt | date : "mediumDate" }} </span>
        <span>{{ module.createdAt | date : "shortTime" }}</span>
      </td>
      <td>
        <c-form-check [switch]="true" sizing="xl">
          <input
            cFormCheckInput
            [checked]="module.isActive"
            [(ngModel)]="module.isActive"
            [disabled]="module.isSystemModule"
            type="checkbox"
            (change)="getModuleChangedStatus(module)"
          />
        </c-form-check>
      </td>
      <td class="d-flex gap-3">
        <p-button label="Update" severity="info" size="small" />
        <p-button
          label="Delete"
          severity="danger"
          size="small"
          [disabled]="module.isSystemModule"
          (click)="moduleDeleteConfirmation(module, index)"
        />
      </td>
    </tr>
  </ng-template>
  <!-- no data template -->
  <ng-template #emptymessage>
    <tr>
      <td colspan="6">No modules found.</td>
    </tr>
  </ng-template>
</p-table>
}
<!-- New/Update Module -->
<c-modal #moduleModal backdrop="static" alignment="center" id="moduleModal" [(visible)]="showModal">
  <c-modal-header>
    <h5 cModalTitle>{{ isModalForUpdate ? "Update" : "New" }} Module</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm>
      <div class="mb-2">
        <label cLabel for="moduleName">Name</label>
        <input cFormControl id="moduleName" name="moduleName" type="text" [(ngModel)]="moduleForm.name" />
      </div>
      <div class="mb-2">
        <label cLabel for="moduleType">Type</label>
        <select cSelect id="moduleType" name="moduleType" [(ngModel)]="moduleForm.type">
          <option>Select Module Type</option>
          @for(type of moduleTypes; track type) {
          <option [value]="type._id">{{ type.name }}</option>
          }
        </select>
      </div>
      <div class="mb-2">
        <label cLabel for="roleDescription">Description</label>
        <textarea
          cFormControl
          id="moduleDescription"
          name="moduleDescription"
          rows="6"
          [(ngModel)]="moduleForm.description"
        ></textarea>
      </div>
      <div class="mb-2">
        <c-form-check class="d-flex gap-2">
          <input
            cFormCheckInput
            id="systemModule"
            name="systemModule"
            type="checkbox"
            [(ngModel)]="moduleForm.isSystemModule"
          />
          <label cFormCheckLabel for="systemModule">Keep this as System Module</label>
        </c-form-check>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <p-button (click)="closeModal(true)" label="Close" severity="secondary" size="small" />
    <p-button (click)="process()" [label]="isModalForUpdate ? 'Update' : 'Create'" severity="primary" size="small" />
  </c-modal-footer>
</c-modal>
<!-- New/Update Module Type -->
<c-modal #typeModuleModal backdrop="static" alignment="center" id="typeModuleModal" [(visible)]="showTypeModal">
  <c-modal-header>
    <h5 cModalTitle>{{ isTypeModalForUpdate ? "Update" : "New" }} Module Type</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm>
      <div class="mb-2">
        <label cLabel for="moduleName">Name</label>
        <input cFormControl id="moduleName" name="moduleName" type="text" [(ngModel)]="typeModuleForm.name" />
      </div>
      <div class="mb-2">
        <label cLabel for="roleDescription">Description</label>
        <textarea
          cFormControl
          id="moduleDescription"
          name="moduleDescription"
          rows="6"
          [(ngModel)]="typeModuleForm.description"
        ></textarea>
      </div>
      <div class="mb-2">
        <c-form-check class="d-flex gap-2">
          <input
            cFormCheckInput
            id="systemModule"
            name="systemModule"
            type="checkbox"
            [(ngModel)]="typeModuleForm.isSystemType"
          />
          <label cFormCheckLabel for="systemModule">Keep this as System Type</label>
        </c-form-check>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <p-button (click)="closeTypeModal(true)" label="Close" severity="secondary" size="small" />
    <p-button (click)="processType()" [label]="isTypeModalForUpdate ? 'Update' : 'Create'" severity="primary" size="small" />
  </c-modal-footer>
</c-modal>
