@if (loading || submitting) {
<app-loader></app-loader>
} @else {
<!-- Table starting -->
<p-table
  #dt
  [value]="orgUsers"
  dataKey="_id"
  [paginator]="true"
  showGridlines
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 25]"
  [globalFilterFields]="['name', 'email', 'role', 'organization.name', 'isActive', 'key']"
  filterDisplay="menu"
>
  <!-- Global Search -->
  <ng-template pTemplate="caption">
    <div class="flex-top-center gap-2">
      <h5 class="mb-0">Users</h5>
      <input
        pInputText
        type="text"
        placeholder="Global search"
        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        class="ms-auto"
      />
      @if(canDo.create){
      <button pButton size="small" [cModalToggle]="orgUserModal.id">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>New</span>
      </button>
      }
    </div>
  </ng-template>

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <!-- Organization User Name -->
      <th style="width: 150px">
        <div class="flex-space">
          <h6>Name</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="name"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Organization User Email -->
      <th style="width: 150px">
        <div class="flex-space">
          <h6>Email</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="email"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Organization's Name -->
      <th style="width: 180px">
        <div class="flex-space">
          <h6>Organization</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="organization.name"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Organization User's Role -->
      <th style="width: 180px">
        <div class="flex-space">
          <h6>Role</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="role.name"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Organization User Active Status -->
      <th style="width: 120px">
        <div class="flex-space">
          <h6>Status</h6>
          <p-columnFilter
            field="isActive"
            matchMode="equals"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [options]="statuses"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
                optionValue="value"
              >
                <ng-template let-status #item>
                  <div class="flex items-center gap-2">
                    <span>{{ status.name }}</span>
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <!-- Permission Actions -->
      @if(canDo.update || canDo.delete){
      <th style="width: 200px">
        <h6>Actions</h6>
      </th>
      }
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-user let-index="rowIndex">
    <tr>
      <td class="text-truncate" [title]="user.name">{{ user.name }}</td>
      <td class="text-truncate" [title]="user.email">{{ user.email }}</td>
      <td class="text-truncate" [title]="user.organization.name">{{ user.organization.name }}</td>
      <td class="text-truncate" [title]="user.role.name">{{ user.role.name }}</td>
      <td>
        <c-form-check [switch]="true" sizing="xl">
          <input
            cFormCheckInput
            [checked]="user.isActive"
            type="checkbox"
            (click)="statusChange($event, user)"
            [disabled]="!canDo.update || user.isSystemUser"
          />
        </c-form-check>
      </td>
      @if(canDo.update || canDo.delete){
      <td class="d-flex gap-3">
        @if(canDo.update){
        <p-button label="Update" severity="info" size="small" [disabled]="user.isSystemUser" />
        } @if(canDo.delete){
        <p-button
          label="Delete"
          severity="danger"
          size="small"
          [disabled]="user.isSystemUser"
          (click)="confirmDelete(user._id, index)"
        />
        }
      </td>
      }
    </tr>
  </ng-template>

  <!-- No Data template -->
  <ng-template #emptymessage>
    <tr>
      <td colspan="6">No users found.</td>
    </tr>
  </ng-template>
</p-table>
}
<!-- New/Update modal -->
<c-modal #orgUserModal backdrop="static" alignment="center" id="orgUserModal" [(visible)]="showModal"></c-modal>
