@if (loading || submitting) {
<app-loader></app-loader>
} @else {
<!-- Table starting -->
<p-table
  #dt
  [value]="roles"
  dataKey="_id"
  [paginator]="true"
  showGridlines
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 25]"
  [globalFilterFields]="['name', 'isActive', 'key', 'scope']"
  filterDisplay="menu"
>
  <!-- Global Search -->
  <ng-template pTemplate="caption">
    <div class="flex-top-center gap-2">
      <h5 class="mb-0">Roles</h5>
      <input
        pInputText
        type="text"
        placeholder="Global search"
        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
        class="ms-auto"
      />
      @if(canDo.create){
      <button pButton size="small" [cModalToggle]="roleModal.id">
        <i class="pi pi-plus" pButtonIcon></i>
        <span pButtonLabel>New</span>
      </button>
      }
    </div>
  </ng-template>

  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <!-- Role name -->
      <th style="width: 180px">
        <div class="flex-space">
          <h6>Name</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="name"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Role Key -->
      <th style="width: 220px">
        <div class="flex-space">
          <h6>Key</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="key"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Role's Scope -->
      <th style="width: 180px">
        <div class="flex-space">
          <h6>Scope</h6>
          <p-columnFilter
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            type="text"
            field="scope"
            matchMode="contains"
            display="menu"
          />
        </div>
      </th>
      <!-- Role Active Status -->
      <th style="width: 120px">
        <div class="flex-space">
          <h6>Status</h6>
          <p-columnFilter
            field="isActive"
            matchMode="equals"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [options]="statuses"
                placeholder="Any"
                (onChange)="filter($event.value)"
                optionLabel="name"
                optionValue="value"
              >
                <ng-template let-status #item>
                  <div class="flex items-center gap-2">
                    <span>{{ status.name }}</span>
                  </div>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <!-- Role Actions -->
      @if(canDo.update || canDo.delete){
      <th style="width: 200px">
        <h6>Actions</h6>
      </th>
      }
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-role let-index="rowIndex">
    <tr>
      <td class="text-truncate" [title]="role.name">{{ role.name }}</td>
      <td class="text-truncate" [title]="role.key">{{ role.key }}</td>
      <td class="text-truncate" [title]="role.scope">{{ role.scope }}</td>
      <td>
        <c-form-check [switch]="true" sizing="xl">
          <input
            cFormCheckInput
            [checked]="role.isActive"
            type="checkbox"
            (click)="statusChange($event, role)"
            [disabled]="!canDo.update"
          />
        </c-form-check>
      </td>
      @if(canDo.update || canDo.delete){
      <td class="d-flex gap-3">
        @if(canDo.update){
        <p-button label="Update" severity="info" size="small" />
        } @if(canDo.delete){
        <p-button label="Delete" severity="danger" size="small" (click)="confirmDelete(role._id, index)" />
        }
      </td>
      }
    </tr>
  </ng-template>

  <!-- No Data template -->
  <ng-template #emptymessage>
    <tr>
      @if(canDo.update || canDo.delete){
      <td colspan="5">No roles found.</td>
      } @else {
      <td colspan="4">No roles found.</td>
      }
    </tr>
  </ng-template>
</p-table>
}
<!-- New/Update modal -->
<c-modal #roleModal backdrop="static" alignment="center" id="roleModal" [(visible)]="showModal"> </c-modal>
