// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@use "charts";

// custom tweaks for scrollbar styling (wip)
@use "scrollbar";

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current,
.pointer {
  cursor: pointer;
}

// remove number field spinner
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.pointer {
  cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ion-card {
  margin: 0 !important;
}

.admin-user-tag {
  font-size: var(--font-12);
  border: 1px dashed var(--cui-secondary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left-center {
  display: flex;
  justify-content: center;
}

.flex-top-center {
  display: flex;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-max-60 {
  max-width: 60%;
}

.w-80 {
  width: 80%;
}

.w-max-80 {
  max-width: 80%;
}

.w-85 {
  width: 85%;
}

.w-max-85 {
  max-width: 85%;
}

.w-90 {
  width: 90%;
}

.w-max-90 {
  max-width: 90%;
}

.w-95 {
  width: 95%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.top-1 {
  top: 0.25rem !important;
}

.top-2 {
  top: 0.5rem !important;
}

.top-3 {
  top: 1rem !important;
}

.top-4 {
  top: 1.5rem !important;
}

.top-5 {
  top: 3rem !important;
}

.top-auto {
  top: 0 !important;
  bottom: 0 !important;
  margin: 0 auto !important;
}

.full-auto {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.bottom-1 {
  bottom: 0.25rem !important;
}

.bottom-2 {
  bottom: 0.5rem !important;
}

.bottom-3 {
  bottom: 1rem !important;
}

.bottom-4 {
  bottom: 1.5rem !important;
}

.bottom-5 {
  bottom: 3rem !important;
}

.right-0 {
  right: 0 !important;
}

.right-1 {
  right: 0.25rem !important;
}

.right-2 {
  right: 0.5rem !important;
}

.right-3 {
  right: 1rem !important;
}

.right-4 {
  right: 1.5rem !important;
}

.right-5 {
  right: 3rem !important;
}

.left-0 {
  left: 0 !important;
}

.left-1 {
  left: 0.25rem !important;
}

.left-2 {
  left: 0.5rem !important;
}

.left-3 {
  left: 1rem !important;
}

.left-4 {
  left: 1.5rem !important;
}

.left-5 {
  left: 3rem !important;
}

.max-w-25 {
  max-width: 25% !important;
}

.max-w-50 {
  max-width: 50% !important;
}

.max-w-75 {
  max-width: 75% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.fw-900 {
  font-weight: 900 !important;
}

// ------------------- primeng component style changes ------------------- 

.p-datatable-header {
  border-radius: var(--common-border-radius) var(--common-border-radius) 0 0 !important;
}

.p-paginator {
  border-radius: 0 0 var(--common-border-radius) var(--common-border-radius) !important;
}

p-columnfilterformelement, p-datepicker {
  .p-inputtext, p-datepicker, p-select {
    width: 100% !important;
  }
}

.p-inputtext,
.p-togglebutton {
  height: var(--input-height) !important;
  font-size: var(--font-12) !important;
}
.p-select {
  height: var(--input-height) !important;
  .p-select-label {
    font-size: var(--font-12) !important;
  }
}

// toast message alignment
/* Remove hidden spacing that causes vertical shift */
.p-toast-summary,
.p-toast-detail {
  line-height: 1.2 !important;
}

/* Fix PrimeNG table row vertical alignment */
.p-datatable .p-datatable-tbody > tr > td {
  vertical-align: middle;
}

/* Center PrimeNG inline components */
.p-datatable .p-tag,
.p-datatable .p-inputswitch {
  display: inline-flex;
  align-items: center;
}

/* Fix text drifting inside rows */
.p-datatable td {
  line-height: 1.5;
}

.p-datatable table {
  table-layout: fixed;
  width: 100%;
}

// ----------------------------------------------------------------------- 

// ------------------- custom button style changes -------------------
.btn-primary {
  --cui-btn-color: var(--cui-primary-text);
  --cui-btn-bg: var(--cui-primary);
  --cui-btn-hover-color: var(--cui-primary-text);
  --cui-btn-active-color: var(--cui-primary-text);
  --cui-btn-active-bg: var(--cui-primary);
}


// -------------------------------------------------------------------
