@use "@coreui/coreui/scss/mixins/transition" as *;
@use "@coreui/coreui/scss/mixins/color-mode" as *;

:root {
  --cui-primary: #{$primary};
  --cui-primary-text: #{$primary-text-emphasis};
  --cui-success: #{$success};
  --cui-info: #{$info};
  --cui-warning: #{$warning};
  --cui-danger: #{$danger};
  --cui-light: #{$light};
  --cui-dark: #{$dark};

  // additional colors
  --cui-accent: #{$accent};

  --font-12: #{$font12};
  --font-14: #{$font14};
  --font-16: #{$font16};
  --font-18: #{$font18};
  --font-22: #{$font22};
  --font-24: #{$font24};
  --font-28: #{$font28};
  --font-32: #{$font32};
  --font-36: #{$font36};
  --font-48: #{$font48};
  --font-64: #{$font64};
  --font-72: #{$font72};
}

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding 0.15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
